.CreateQuestionPage {
  width: calc(100% - 40px);
  padding: 20px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  border-radius: 15px;
}

.CreateQuestionPage-form-group {
  margin-bottom: 20px;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.ql-toolbar {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: white;
}

.ql-container {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: white;
}

.CreateQuestionPage-form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
  box-sizing: border-box;
}

.CreateQuestionPage-special-form-control {
  width: 100%;
}

.CreateQuestionPage-btn-submit {
  background-color: #1e960c;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.CreateQuestionPage-btn-submit:hover {
  background-color: #156309;
}

.CreateQuestionPage-btn-submit.CreateQuestionPage-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.CreateQuestionPage-spinner {
  margin-right: 8px;
  animation: CreateQuestionPage-spin 1s linear infinite;
}

@keyframes CreateQuestionPage-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ql-toolbar.ql-snow + .ql-container.ql-snow {
  border-top: 0px;
  height: 500px;
}

.quill {
  margin-top: 10px;
}

.CreateQuestionPage-tags-input-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid #ccc;
  padding: 5px;
  margin-top: 10px;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.CreateQuestionPage-tag-item {
  background-color: #6c5ce7;
  font-size: 14px;
  color: #fff;
  padding: 4px 8px;
  border-radius: 15px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.CreateQuestionPage-tag-remove {
  margin-left: 8px;
  cursor: pointer;
  font-weight: bold;
  color: #fff;
}

.CreateQuestionPage-tag-input {
  border: none;
  flex: 1;
  padding: 5px;
  outline: none;
  font-size: 14px;
  background-color: transparent;
}

.CreateQuestionPage-btn-add-tag {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-left: 5px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.CreateQuestionPage-btn-add-tag:hover {
  background-color: #0056b3;
}

.CreateQuestionPage-submission-success {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 2rem;
}

.CreateQuestionPage-success-content {
  text-align: center;
  border-radius: 8px;
  padding: 2rem;
  max-width: 400px;
  width: 100%;
}

.CreateQuestionPage-success-icon {
  font-size: 4rem;
  color: #4caf50;
  margin-bottom: 1rem;
}

.CreateQuestionPage-success-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.CreateQuestionPage-success-message {
  font-size: 1rem;
  color: #666666;
}

.CreateQuestionPage-btn-done {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.CreateQuestionPage-btn-done:hover {
  background-color: #45a049;
}

.CreateQuestionPage-btn-submit.CreateQuestionPage-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.CreateQuestionPage-submit-group {
  position: relative;
  display: flex;
  margin-bottom: 0;
}

.CreateQuestionPage-form-tooltip {
  position: absolute;
  bottom: calc(100% + 10px);
  left: 8.8rem;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 15px;
  border-radius: 8px;
  width: 250px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  font-size: 14px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
  pointer-events: none;
}

.CreateQuestionPage-form-tooltip::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 16%;
  transform: translateX(-50%);
  border-width: 10px 10px 0;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

.CreateQuestionPage-btn-submit:hover + .CreateQuestionPage-form-tooltip,
.CreateQuestionPage-btn-submit:focus + .CreateQuestionPage-form-tooltip,
.CreateQuestionPage-btn-submit.CreateQuestionPage-disabled:hover
  + .CreateQuestionPage-form-tooltip,
.CreateQuestionPage-btn-submit.CreateQuestionPage-disabled:focus
  + .CreateQuestionPage-form-tooltip {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(-5px);
}

.CreateQuestionPage-form-tooltip h3 {
  margin: 0 0 10px;
  font-size: 16px;
  font-weight: bold;
}

.CreateQuestionPage-form-tooltip ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

.CreateQuestionPage-form-tooltip li {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.CreateQuestionPage-tooltip-icon {
  margin-right: 8px;
  font-size: 16px;
  color: #f1c40f;
}

@keyframes CreateQuestionPage-iconPulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.CreateQuestionPage-tooltip-icon {
  animation: CreateQuestionPage-iconPulse 1.5s infinite;
}

/* Dark mode styles */
.CreateQuestionPage-dark {
  background-color: #282828;
  color: #e0e0e0;
}

.CreateQuestionPage-dark .CreateQuestionPage-form-tooltip {
  background-color: #555;
  color: #fff;
}

.CreateQuestionPage-dark .CreateQuestionPage-form-tooltip::before {
  border-color: #555 transparent transparent transparent;
}

.CreateQuestionPage-dark .CreateQuestionPage-btn-done {
  background-color: #45a049;
}

.CreateQuestionPage-dark .CreateQuestionPage-btn-done:hover {
  background-color: #3d8b3d;
}

.CreateQuestionPage-dark .CreateQuestionPage-form-control,
.CreateQuestionPage-dark .ql-toolbar,
.CreateQuestionPage-dark .ql-container {
  background-color: #3b3b3b;
  color: #e0e0e0;
  border-color: #555;
}

.CreateQuestionPage-dark .ql-toolbar.ql-snow,
.CreateQuestionPage-dark .ql-container.ql-snow {
  border-color: #555;
}

.CreateQuestionPage-dark .ql-toolbar.ql-snow {
  background-color: #333;
}

.CreateQuestionPage-dark .ql-editor {
  color: #e0e0e0;
}

.CreateQuestionPage-dark .ql-picker-label,
.CreateQuestionPage-dark .ql-picker-options {
  background-color: #333;
  color: #e0e0e0;
}

.CreateQuestionPage-dark .ql-picker-options {
  border-color: #555;
}

.CreateQuestionPage-dark .ql-stroke {
  stroke: #e0e0e0;
}

.CreateQuestionPage-dark .ql-fill {
  fill: #e0e0e0;
}

.CreateQuestionPage-dark .ql-picker.ql-expanded .ql-picker-options {
  background-color: #444;
  border-color: #666;
}

.CreateQuestionPage-dark .ql-picker-item {
  color: #e0e0e0;
}

.CreateQuestionPage-dark .ql-picker-item:hover {
  background-color: #555;
}

.CreateQuestionPage-dark .CreateQuestionPage-tags-input-container {
  background-color: #3b3b3b;
  border-color: #555;
}

.CreateQuestionPage-dark .CreateQuestionPage-tag-item {
  background-color: #ff6e61ae;
}

.CreateQuestionPage-dark .CreateQuestionPage-tag-input {
  color: #e0e0e0;
}

.CreateQuestionPage-dark .CreateQuestionPage-btn-submit {
  background-color: #1bb72385;
}

.CreateQuestionPage-dark .CreateQuestionPage-btn-submit:hover {
  background-color: #16711ba1;
}

.CreateQuestionPage-dark .CreateQuestionPage-success-content {
  color: #ffffff;
}

.CreateQuestionPage-dark .CreateQuestionPage-success-message {
  color: #bbbbbb;
}
