.interview-experience-container {
  /* max-width: 800px; */
  margin: auto;
  padding: 20px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 97%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
}
.special-form-control {
  width: 99.7%;
}

.btn-submit {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.btn-submit:hover {
  background-color: #0056b3;
}

.ql-toolbar.ql-snow + .ql-container.ql-snow {
  border-top: 0px;
  height: 500px;
}

.quill {
  margin-top: 10px;
}

.tags-input-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid #ccc;
  padding: 5px;
  margin-top: 10px;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.tag-item {
  background-color: #6c5ce7;
  font-size: 14px;
  color: #fff;
  padding: 4px 8px;
  border-radius: 15px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.tag-remove {
  margin-left: 8px;
  cursor: pointer;
  font-weight: bold;
  color: #fff;
}

.tag-input {
  border: none;
  flex: 1;
  padding: 5px;
  outline: none;
  font-size: 14px;
  background-color: transparent;
}

.btn-add-tag {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-left: 5px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.btn-add-tag:hover {
  background-color: #0056b3;
}

/* Dark MODE Theme  */

.dark-mode .create-question-animation {
  background-color: #282828;
  border-radius: 10px;
}

.create-question-submission-success {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 2rem;
}

.create-question-success-content {
  text-align: center;
  border-radius: 8px;
  padding: 2rem;
  max-width: 400px;
  width: 100%;
}

.create-question-dark .create-question-success-content {
  color: #ffffff;
}

.create-question-success-icon {
  font-size: 4rem;
  color: #4caf50;
  margin-bottom: 1rem;
}

.create-question-success-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.create-question-success-message {
  font-size: 1rem;
  color: #666666;
}

.create-question-dark .create-question-success-message {
  color: #bbbbbb;
}

.create-question-btn-done {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.create-question-btn-done:hover {
  background-color: #45a049;
}

.btn-submit.disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.submit-group {
  position: relative;
  display: inline-block;
}

.form-tooltip {
  position: absolute;
  bottom: calc(100% + 10px);
  left: calc(155%);
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 15px;
  border-radius: 8px;
  width: 250px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  font-size: 14px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
  pointer-events: none;
}

.form-tooltip::before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 15%;
  transform: translateX(-50%);
  border-width: 10px 10px 0;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

.btn-submit:hover + .form-tooltip,
.btn-submit:focus + .form-tooltip {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(-5px);
}

.form-tooltip h3 {
  margin: 0 0 10px;
  font-size: 16px;
  font-weight: bold;
}

.form-tooltip ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

.form-tooltip li {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.tooltip-icon {
  margin-right: 8px;
  font-size: 16px;
  color: #f1c40f;
}

@keyframes createQuestioniconPulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

.tooltip-icon {
  animation: createQuestioniconPulse 1.5s infinite;
}

/* Dark mode styles */
.dark-mode .form-tooltip {
  background-color: #555;
  color: #fff;
}

.dark-mode .form-tooltip::before {
  border-color: #555 transparent transparent transparent;
}
.dark-mode .create-question-btn-done {
  background-color: #45a049;
}

.dark-mode .create-question-btn-done:hover {
  background-color: #3d8b3d;
}

.dark-mode .interview-experience-container {
  background-color: #282828;
  color: #e0e0e0;
}

.dark-mode .form-control,
.dark-mode .ql-toolbar,
.dark-mode .ql-container {
  background-color: #3b3b3b;
  color: #e0e0e0;
  border-color: #555;
}

.dark-mode .ql-toolbar .ql-stroke {
  stroke: #e0e0e0;
}

.dark-mode .ql-toolbar .ql-fill {
  fill: #e0e0e0;
}

.dark-mode .ql-toolbar .ql-picker {
  color: #e0e0e0;
}

.dark-mode .tags-input-container {
  background-color: #3b3b3b;
  border-color: #555;
}

.dark-mode .tag-item {
  background-color: #ff6e61ae;
}

.dark-mode .tag-input {
  color: #e0e0e0;
}

.dark-mode .btn-submit {
  background-color: #4a4a4a;
}

.dark-mode .btn-submit:hover {
  background-color: #5a5a5a;
}

.dark-mode .create-question-animation {
  background-color: #282828;
  border-radius: 10px;
}
