.main-content,
.sidebar,
.thread-card,
.card,
.right-card
.add-thread-container,
.add-thread-input,
.add-thread-button,
.pagination button {
  transition: all 0.3s ease;
}
.thread-card{
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 3%;
  display: flex;
  flex-direction: column;
}

.main-content{
  margin-top: 4.8rem;
    padding-top: 2rem;
}
/* MainContent.css */
.light-mode .main-content {
  display: flex;
  background-color: #eaf7f9;
  /* background-color: #5bafba; */
  /* background:linear-gradient(-135deg, #e7dbd0 0%, #f7f8fa 50%, #baa899 100%); */

  background: linear-gradient(-93deg, #e7dbd0 0%, #f7f8fa 50%, #baa899 100%);

}

.light-mode .sidebar {
  /* background:  linear-gradient(90deg, #eff0f3 0%, #f5f5f5 50%, #edf3ff 100%);  #new addition; */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  background-color: #ededf3;
  /* width: 22%; */
  /* padding: 1.3%; */
  border-radius: 15px;
}

.light-mode .card
.light-mode .right-card {
  background: linear-gradient(90deg, #eff0f3 0%, #f5f5f5 50%, #edf3ff 100%);

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.light-mode .right-sidebar {
  /* background:  linear-gradient(90deg, #eff0f3 0%, #f5f5f5 50%, #edf3ff 100%);  #new addition; */
  box-shadow: 0px 0px 10px rgba(0, 0, 0.4, 0.2);
  background-color: #ededf3;
  /* margin-top: 2rem; */
}

.course-navigation {
  width: 100%;
  /* display: flex;
  flex-direction: column; */
  align-items: center;
  justify-content: center;
}

.join-class {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  background-color: #6c63ff;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.threads {
  width: 80%;
  margin: 0 1.5%;
  /* margin-right: -8px; */
  border-radius: 30px;
  /* margin-top: 2rem; */
}

.light-mode .thread-card {
  /* background: linear-gradient(135deg, #ffefe2 0%, #f7f8fa 50%, #d5e4ff 100%); */
  background: #f2f5fb;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.thread-answer-preview {
  font-size: 1rem;
  color: #666;
  margin-bottom: 15px;
  line-height: 1.4;
}

.thread-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.view-message {
  font-size: 0.8rem;
  color: #888;
  font-style: italic;
}

.thread-stats {
  display: flex;
  align-items: center;
}

.thread-views,
.thread-comments {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  font-weight: bold;
  color: #666;
  margin-left: 15px;
}

.thread-views i {
  color: #7770ed;
}

.thread-comments i {
  color: #efbd33;
}

.thread-views i,
.thread-comments i {
  margin-right: 5px;
  font-size: 1.1rem;
}

.thread-title {
  font-size: 1.6rem;
  font-weight: bold;
  /* margin-bottom: 15px; */
  margin:0;
  color: #333;
}

.thread-info {
  display: flex;
  margin :1rem 0;
  align-items: flex-start;
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.thread-details {
  flex-grow: 1;
}

.thread-meta {
  margin-top: 0;
  font-size: 0.8rem;
  color: #666;
  margin-bottom: 10px;
}

.thread-meta .username {
  font-weight: bold;
  color: #333;
}

.thread-description {
  margin-bottom: 15px;
  color: #444;
  line-height: 1.6;
}

/* .thread-tags {
  margin-bottom: 10px;
} */

.thread-card-link {
  text-decoration: none;
  color: inherit;
  display: block;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.thread-card-link:hover .thread-card {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.thread-card-link:visited {
  color: inherit;
}

.tag {
  display: inline-block;
  background-color: rgba(107, 99, 255, 0.733);
  padding: 6px 10px;
  border-radius: 20px;
  font-size: 1rem;
  margin-bottom: 10px;
  margin-right: 10px;
  color: blanchedalmond;
  background-color: #3498db;
}

.thread-company,
.thread-category {
  font-size: 0.8rem;
  color: #666;
  margin-bottom: 5px;
}

.thread-company span,
.thread-category span {
  font-weight: bold;
  color: #333;
  background-color: rgba(108, 99, 255, 0.1);
  padding: 2px 6px;
  border-radius: 10px;
}

.giving_responses {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.add-response {
  padding: 8px 15px;
  background-color: #6c63ff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-response:hover {
  background-color: #5a48cc;
}

.vote-buttons {
  display: flex;
  align-items: center;
}

.vote-buttons i {
  font-size: 18px;
  color: #666;
  margin-left: 15px;
  cursor: pointer;
  transition: color 0.3s;
}

.vote-buttons i:hover {
  color: #6c63ff;
}

.right-sidebar {
  width: 20%;
  min-width: 160px;
  border-radius: 15px;
  align-items: flex-start;
  padding: 1.2%;
  border-radius: 12px;
  
  margin-right: 1.2%;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* margin-top: 2rem; */
}

@media (max-width: 768px) {
  .thread-title {
    font-size: 1.1rem;
  }
  .thread-answer-preview{
    font-size: .8rem
  }
  .tag{
    font-size: .7rem !important;
  }
  .threads {
    width: 97%;
  }
  .main-content {
    justify-content: center;
    flex-direction: column;
  }
  .right-sidebar {
    display: flex;
    flex-direction: row;
    width: 95%;
    margin-left: 1.2%;
    flex-wrap: wrap;
    /* margin-top: 2rem; */
    justify-content: space-between;
  }
  .Side-bar-cards {
    margin: 0;
    padding: 1%;
    width: 50%;
    min-width: 155px;
    box-sizing: border-box;
  }
  .Side-bar-cards:nth-child(3){
    width: 100%;
  }
  /* .card {
    margin-bottom: 0 !important;
    width: 100%;
  } */
  .thread-info{
    margin: 0;
  }
  .thread-votes,.thread-stats{
    flex-direction: column;
    align-items: flex-start;
  }
  .upvotes,.downvotes, .thread-views,.thread-comments{
    font-size: 0.7rem;
    margin-bottom: 5px;
    width: 100%;
  }
}
@media (max-width: 340px) {
  .Side-bar-cards {
    width: 100%;
  }
}


.lecturer-info {
  text-align: center;
}

.lecturer-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.attendees-list {
  margin-top: 20px;
}
/* 
.Side-bar-cards {
  margin-bottom: 7%;
} */

.card,
.right-card {
  /* width: 92%; */
  margin-bottom: 7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 10px; */
  /* border: 1px solid #d1daf3; */
  border-radius: 8px;
  transition: background-color 0.3s;
  cursor: pointer;
}

.card:hover
.right-card:hover {
  background-color: #f0f4ff;
}

.date {
  margin-left: 6px;
}

.username {
  margin-right: 6px;
}

.card img,
.right-card img {
  width: 66px;
  height: 66px;
  border-radius: 50%;
  object-fit: cover;
  /* margin-right: 15px; */
}

.card-details {
  flex: 1;
  /* margin-left: 1rem; */
}

.card-details h4 {
  font-size: 16px;
  margin: 0;
  color: #1a1a1a;
}

.card-details p {
  font-size: 14px;
  margin: 5px 0 0 0;
  color: #555;
}

.card,
.right-card {
  /* width: 200px; */
  padding: 1.4vw;
  /* width: 85%; */
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  /* margin: 10px; */
}

.card:hover,
.right-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Image inside each card, made circular */
.card img,
.right-card img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 5%;
}

/* Details in the card (title and description) */
.card-details h4 {
  font-size: 16px;
  margin: 0;
  text-align: center;
  color: #1a1a1a;
  font-weight: bold;
}

.card-details p {
  font-size: 14px;
  margin: 5px 0 0 0;
  color: #555;
  text-align: center;
}

.Left-Side-bar-cards .card {
  display: flex;
  flex-direction: row;
  /* margin-bottom: 7%; */
}

.giving_responses {
  display: flex;
  justify-content: space-between;
}

.giving_responses i {
  font-weight: 400;
  font-size: 20px;
  margin-left: 2rem;
  position: relative;
  top: 20px;
}

.add-thread-container {
  display: flex;
  align-items: center;
  /* padding: 10px 20px; */
  padding: 1.2% 1.5%;
  background-color: #f8f8f8;
  border-radius: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 3%;
}

.add-thread-input {
  flex: 1;
  border: none;
  outline: none;
  background: none;
  font-size: 16px;
  color: #9966cc;
  font-weight: bold;
  padding: 10px;
}

.add-thread-input::placeholder {
  color: #aaa;
}

.add-thread-button {
  background-color: #6c5ce7;
  border: none;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  font-size: 18px;
  margin-left: 10px;
}

.add-thread-button:hover {
  background-color: #5a48cc;
}

.Side-bar-cards .card,
.Side-bar-cards .right-card {
  /* width: 270px; */
  /* width: 100%; */
  position: relative;
  /* right: 17px; */
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  margin-top: 30px;
}

.pagination button {
  /* margin: 0 10px; */
  padding: 10px 20px;
  background-color: #6c63ff;
  color: #ffffff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(108, 99, 255, 0.2);
}

.pagination button:hover:not(:disabled) {
  background-color: #5a48cc;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(108, 99, 255, 0.3);
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background-color: #d1d1d1;
}

.pagination span {
  margin: 0 .8rem;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.page-input-form {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.page-input-form label {
  margin-right: 5px;
  font-size: 16px;
  font-weight: bold;
}

.page-input {
  width: 50px;
  height: 30px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  text-align: center;
}

.dark-mode .page-input {
  background-color: #333;
  color: #fff;
  border-color: #555;
}

.light-mode .page-input {
  box-shadow: 0 2px 10px rgba(73, 70, 70, 0.767);
  color: #333;
  border: 1px solid #ccc;
}

/* MainComponent.css */
.create-question-animation {
  overflow: hidden;
  transition: max-height 0.5s ease-out, opacity 0.5s ease-out,
    margin-bottom 0.5s ease-out;
  max-height: 0;
  opacity: 0;
  margin-bottom: 0;
}

.create-question-animation.show {
  max-height: 2000px;
  /* Adjust this value based on the maximum height of your form */
  opacity: 1;
  margin-bottom: 5%;
}

.thread-votes .upvotes i,
.thread-votes .downvotes i {
  font-size: 1.1rem;
  margin-right: 5px;
}

.thread-votes {
  display: flex;
  align-items: center;
}

.thread-votes .upvotes,
.thread-votes .downvotes {
  display: flex;
  align-items: center;
  margin-right: 15px;
  font-size: 0.8rem;
  color: #666;
  font-weight: bold;
}

.thread-votes i {
  margin-right: 5px;
}

.thread-votes .upvotes i {
  color: #4caf50;
}

.thread-votes .downvotes i {
  color: #f44336;
}

/* MainComponent.css - Dark Mode Styles */
.dark-mode .main-content {
  display: flex;
  background-color: #1e1e1e;
  /* Darker Charcoal */
  color: #d3d3d3;
    /* padding-left: 3rem; */
  /* Light Gray */
}

.add-thread-button{
  background-color: #9966cc;
  /* Amethyst */
}


.dark-mode .sidebar {
  background-color: #252525;
  /* Dark Gray */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

}

.dark-mode .join-class {
  background-color: #9966cc;
  /* Amethyst */
  color: #ffffff;
  /* White */
}

.dark-mode .threads {
  background-color: #1e1e1e;

  /* Darker Charcoal */
}

.dark-mode .thread-card {

  background-color: #2e2e2e;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.dark-mode .thread-answer-preview {
  color: #aaa;
}

.dark-mode .view-message {
  color: #777;
}

.dark-mode .thread-views,
.dark-mode .thread-comments {
  color: #aaaaaa;
}

.dark-mode .thread-title {
  color: #ffffff;
  /* White */
}

.dark-mode .thread-meta {
  color: #aaaaaa;
  /* Light Silver */
}

.dark-mode .thread-meta .username {
  color: #ffffff;
  /* White */
}

.dark-mode .thread-description {
  color: #cccccc;
  /* Light Silver */
}

.dark-mode .tag {
  background-color: rgba(153, 102, 204, 0.28);
  /* Amethyst with opacity */
  /* color: #9966cc; Amethyst */
  color: #e0e0e0;
}

.dark-mode .thread-company span,
.dark-mode .thread-category span {
  background-color: rgba(153, 102, 204, 0.2);
  /* Amethyst with opacity */
  color: #ffffff;
  /* White */
}

.dark-mode .add-response {
  background-color: #444454;
  /* Darker Gray */
  color: #ffffff;
  /* White */
}

.dark-mode .vote-buttons i {
  color: #aaaaaa;
  /* Light Silver */
}

.dark-mode .vote-buttons i:hover {
  color: #ff6f61;
  /* Bright Coral */
}

.dark-mode .right-sidebar {
  background-color: #252525;
  /* margin-top: 2rem; */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.dark-mode .card,
.dark-mode .right-card {
  background-color: #3b3b3b;
  /* Darker Charcoal */
}

.dark-mode .card:hover,
.dark-mode .right-card:hover {
  background-color: #4b4b4b;
  /* Slightly Lighter Charcoal */
}

.dark-mode .right-sidebar {
  background-color: #252525;
}

.dark-mode .card-details h4 {
  color: #ffffff;
  /* White */
}

.dark-mode .card-details p {
  color: #cccccc;
  /* Light Silver */
}

.dark-mode .add-thread-container {
  background-color: #3b3b3b;
  /* Darker Charcoal */
}

.dark-mode .add-thread-input {
  /* color: #d3d3d3; Light Gray */
  /* color: #ff6f61 */
  color: #9966cc;
  font-weight: bold;
}

.dark-mode .add-thread-input::placeholder {
  color: #aaaaaa;
  /* Light Silver */
}

.dark-mode .add-thread-button {
  background-color: #9966cc;
  /* Amethyst */
}

.dark-mode .add-thread-button:hover {
  background-color: #8a4fd0;
  /* Darker Amethyst */
}

.dark-mode .thread-card-link:hover .thread-card {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.dark-mode .thread-card-link:hover .thread-card {
  background-color: #363636;
}

.dark-mode .pagination button {
  background-color: #9966cc;
  box-shadow: 0 2px 5px rgba(153, 102, 204, 0.2);
}

.dark-mode .pagination button:hover:not(:disabled) {
  background-color: #8a4fd0;
  box-shadow: 0 4px 8px rgba(153, 102, 204, 0.3);
}

.dark-mode .pagination button:disabled {
  background-color: #4b4b4b;
}

.dark-mode .pagination span {
  color: #d3d3d3;
}

.dark-mode .thread-votes .upvotes,
.dark-mode .thread-votes .downvotes {
  color: #aaaaaa;
}

:root {
  --background-color: #f3f3f9;
  /* background-color: #DCD6F7; */
  /* --main-content-bg: #F4EEFF; */
  /* --main-content-bg: #f8f6f3;  okok */
  --main-content-bg: #fff7f2;

  --accent-color: #3498db;
  --text-color: #2c3e50;
  --secondary-text-color: #7f8c8d;
  --highlight-color: #e74c3c;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.main-content {
  background-color: var(--background-color);
}

.join-class,
.add-response,
.pagination button,
.add-thread-button {
  background-color: var(--accent-color);
  color: var(--main-content-bg);
}

.thread-title,
.card-details h4 {
  color: var(--text-color);
}

.thread-meta,
.thread-views,
.thread-comments,
.card-details p {
  color: var(--secondary-text-color);
}

.tag {
  background-color: rgba(52, 152, 219, 0.1);
  color: var(--accent-color);
}

.thread-company span,
.thread-category span {
  background-color: rgba(52, 152, 219, 0.1);
  color: var(--accent-color);
}

.add-thread-input {
  color:#9966cc;
}

.add-thread-input::placeholder {
  color: var(--secondary-text-color);
}

.thread-card-link:hover .thread-card {
  background-color: #c4ebf5;
  box-shadow: 0 4px 6px #515457;
}

.pagination button:hover:not(:disabled) {
  background-color: #2980b9;
}

.pagination button:disabled {
  background-color: #bdc3c7;
}

.thread-votes .upvotes i {
  color: #2ecc71;
}

.thread-votes .downvotes i {
  color: var(--highlight-color);
}

