/* General Styles */
.profile-main-content {
  display: flex;
  background-color: var(--bg-color);
  /* padding: 0 1.2rem 0 0; */
  margin-top: 2.5rem;
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

/* Css for Profile Edit */
.profile-content {
  display: flex;
  width: 100%;
  margin: 0;
  border-radius: 10px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.profile-main-userActivity {
  margin: 1rem 0;
}

@media (max-width: 1100px) {
  .profile-content {
    flex-direction: column;
  }

  .profile-main-content{
    margin-top: 6rem;
  }
}

.profile-main-userActivity {
  width: 95%;
  margin: 1rem auto;
}

/* Dark Mode Css for Prodile Edit and Sidebar */
.dark-mode select.profile-input {
  background-image: url('data:image/svg+xml;utf8,<svg fill="%23ffffff" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
}

/* Dark mode styles */
.dark-mode .profile-main-content {
  background-color: var(--dark-bg-color);
  color: var(--dark-text-color);
}

.dark-mode .profile-main-content p {
  color: var(--dark-para-color);
}

/* Variables to match MainComponent.css */
:root {
  --bg-color: #ffffff;
  --text-color: black;
  --border-color: #dddddd;
  --input-bg-color: #f5f5f5;
  --primary-color: #845fb0;
  --primary-hover-color: #7f3fcd;
  --box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.dark-mode {
  --dark-bg-color: #1e1e1e;
  --dark-sidebar-bg-color: #252525;
  --dark-sidebar-cards-bg-color: #3b3b3b;
  --dark-text-color: white;
  --dark-para-color: #cccccc;
  --dark-border-color: #444444;
  --dark-input-bg-color: #2a2a2a;
  --dark-primary-color: #8560b2;
  --dark-primary-hover-color: #6933aa;
  --dark-box-shadow: 0px 4px 6px rgba(255, 255, 255, 0.1);
}
